@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply relative flex flex-row w-full h-full font-sans text-gray-800 bg-gray-200 dark:text-gray-100 dark:bg-gray-900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.message-animation {
  animation: messageShow var(--duration--) ease forwards;
}
@keyframes messageShow {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.message-animation-hidden {
  animation: messagehidden var(--duration--) ease forwards;
}
@keyframes messagehidden {
  to {
    transform: translateY(-8rem);
    opacity: 0;
  }
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
